<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task App</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

  <div class="main w-full min-h-screen bg-zinc-900">

    <div class="form p-10 text-white">
      <form action="/create" method="post">
        <input
          type="text"
          name="title"
          placeholder="Title goes here"
          class="block px-5 py-2 bg-zinc-800 w-full rounded-lg"
        />

        <textarea
          class="block px-5 py-2 bg-zinc-800 resize-none mt-3 w-full rounded-lg"
          placeholder="Write your task details here"
          name="details"
        ></textarea>

        <input
          class="mt-3 bg-blue-600 rounded-md px-4 py-3"
          type="submit"
          value="Create Task"
        />
      </form>
    </div>

    <div class="tasks p-10 flex gap-3 flex-wrap">

      <% if(files.length > 0){ %>

        <% files.forEach((file)=>{ %>

          <div class="task w-72 rounded-md px-3 py-4 bg-zinc-800 text-white">
            <h1 class="text-2xl tracking-tighter"><%= file %></h1>
            <a href="/file/<%= file %>" class="text-blue-500 inline-block mt-3">Read more</a>
          </div>

        <% }) %>

      <% } else { %>

        <h1 class="text-zinc-500 text-2xl">No task here</h1>

      <% } %>

    </div>

  </div>

</body>
</html>