*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;

  #header {
    padding: 16px 8px;
    background: royalblue;
    color: #fff;
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 16px;
        align-items: center;
        li {
          p {
            padding: 16px;
            border: 1px solid;
          }
        }
      }
    }
  }

  main.list-container {
    display: flex;
    gap: 16px;
    padding: 0 16px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border: 1px solid;
      border-radius: 8px;

      .list-items {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .item {
          padding: 8px 16px;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-radius: 8px;
      gap: 8px;
      .card-header {
        border-bottom: 1px solid;
        padding: 8px 16px;
        text-align: center;
      }
      .card-body {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  #new-card-dialog {
    position: absolute;
    min-width: calc(100vw / 50);
    /* z-index: 1; */
    background-color: beige;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
    border: 1px solid;
    &.hidden {
      display: none;
    }
    #new-card-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      fieldset {
        border-style: none;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  #footer {
    border-top: 2px solid;
  }
}
