#create-session-form {
  &.hidden {
    display: none;
  }
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  margin: auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 2px 6px 0px;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .field-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .validation-msg {
      display: none;
      color: palevioletred;
      align-self: flex-end;
      font-size: x-small;
    }
  }
}
